In [7]:
import time
import pandas as pd
import numpy as np

from pykrx import stock

In [74]:
df = stock.get_market_fundamental_by_ticker("20210312", market="KOSDAQ")
index = stock.get_index_ticker_list(market="KOSDAQ")

In [75]:
stocks = []
for idx in index:
    stocks.append(stock.get_index_portfolio_deposit_file(idx))
    time.sleep(1)

In [76]:
dic = {}
for key, value in zip(index, stocks):
    dic[key] = value

In [77]:
df['ticker'] = df.index

In [56]:
df

          BPS        PER       PBR   EPS       DIV   DPS  ticker
티커
095570   6802   4.070312  0.589844   982  7.500000   300    1026
006840  62448  13.242188  0.459961  2168  2.609375   750    1021
027410  15699  23.234375  0.419922   281  1.679688   110    1021
282330  36022  19.687500  4.789062  8763  1.570312  2700    1016
138930  25415   3.900391  0.250000  1647  5.609375   360    1021
...       ...        ...       ...   ...       ...   ...     ...
069260  15970  13.218750  1.500000  1812  4.179688  1000    1008
000540  10926   7.570312  0.350098   510  0.000000     0    1021
000547      0   0.000000  0.000000     0  0.000000     0  000547
000545      0   0.000000  0.000000     0  0.000000     0  000545
003280    276   0.000000  0.930176     0  0.000000     0    1019

[898 rows x 7 columns]

In [55]:
for i in range(0, len(df)):
    for sec in dic.keys():
        if df.iloc[i, -1] in dic[sec]:
            df.iloc[i, -1] = sec

In [52]:
del dic['1003']

In [38]:
dic.keys()

dict_keys(['1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1020', '1021', '1022', '1024', '1025', '1026', '1027', '1028', '1034', '1035', '1150', '1151', '1152', '1153', '1154', '1155', '1156', '1157', '1158', '1159', '1160', '1167', '1182', '1224', '1227', '1232', '1244'])

In [27]:
'011300' in dic['1006']

True

In [66]:
mat = df[df['ticker']=='1015']

In [67]:
mat['PER'].mean(), mat['PBR'].mean()

(29.38, 1.257)

In [68]:
mat[(mat['PER'] <= 25) & (mat['PBR'] <= 1) & (mat['PER'] > 0)]

           BPS        PER       PBR    EPS       DIV   DPS ticker
티커
123700   10621   9.289062  0.379883    438  3.070312   125   1015
003570   18558  11.992188  0.399902    622  4.019531   300   1015
000430    7743  15.828125  0.529785    258  2.820312   115   1015
015230   12724   6.781250  0.549805   1039  3.130859   220   1015
092780    8059   8.093750  0.759766    753  1.969727   120   1015
018500    1363   3.429688  0.879883    350  0.000000     0   1015
016740    5223  12.937500  0.930176    374  1.650391    80   1015
006660   26712  14.859375  0.330078    593  0.680176    60   1015
023000    5249  13.468750  0.669922    261  3.269531   115   1015
041650    7924  20.640625  0.549805    210  2.310547   100   1015
021820   41536  10.640625  0.189941    760  0.310059    25   1015
005850   28224  11.750000  0.819824   1979  1.719727   400   1015
002920   10636   4.511719  0.290039    678  6.550781   200   1015
010100    7092   7.488281  0.389893    373  1.790039    50   1015
012450   48217  16.125000  0.859863   2558  0.000000     0   1015
143210   14807  21.406250  0.459961    320  1.900391   130   1015
012330  339207  12.523438  0.890137  24234  1.320312  4000   1015
005380  253001  20.562500  0.919922  11310  1.719727  4000   1015
013520    4046   9.710938  0.899902    376  0.680176    25   1015
010690    8582  24.281250  0.569824    202  1.019531    50   1015

In [70]:
df['ticker'] = df.index

In [78]:
df[df['ticker']=='035810']

         BPS     PER       PBR  EPS  DIV  DPS  ticker
티커
035810  7110  128.25  0.700195   39  1.0   50  035810