In [28]:
import time
import pandas as pd
import numpy as np
from pykrx import stock

In [35]:
kosdaq = stock.get_market_fundamental_by_ticker("20210312", market="KOSDAQ")
kospi = stock.get_market_fundamental_by_ticker("20210312", market="KOSPI")
index = stock.get_index_ticker_list()
index.extend(stock.get_index_ticker_list(market='KOSDAQ'))

In [36]:
df = pd.concat([kospi, kosdaq])

In [37]:
stocks = []
for idx in index:
    stocks.append(stock.get_index_portfolio_deposit_file(idx))
    time.sleep(0.5)

In [39]:
df['ticker'] = df.index

In [40]:
dic = {}
for key, value in zip(index, stocks):
    dic[key] = value

In [41]:
sector = []
for i in range(0, len(df)):
    each = []
    for idx in dic.keys():
        if df.iloc[i, -1] in dic[idx]:
            each.append(idx)
    sector.append(each)

In [42]:
sector_all = []
for sec in sector:
    sector_all.append('/'.join(sec))

In [43]:
df['sector'] = sector_all

In [44]:
df

,BPS,PER,PBR,EPS,DIV,DPS,ticker,sector
티커,,,,,,,,
095570,6802,4.070312,0.589844,982,7.500000,300,095570,1001/1004/1026/1244
006840,62448,13.242188,0.459961,2168,2.609375,750,006840,1001/1004/1021/1244
027410,15699,23.234375,0.419922,281,1.679688,110,027410,1001/1003/1021/1244
282330,36022,19.687500,4.789062,8763,1.570312,2700,282330,1001/1003/1016/1028/1034/1157/1182/1224/1227/1232
138930,25415,3.900391,0.250000,1647,5.609375,360,138930,1001/1003/1021/1028/1034/1156/1182/1224/1227/1232
...,...,...,...,...,...,...,...,...
024060,5133,13.070312,1.450195,570,2.009766,150,024060,2001/2004/2027/2181
010240,5477,16.500000,1.709961,568,1.599609,150,010240,2001/2004/2024/2070/2183
189980,1745,29.703125,2.570312,151,0.669922,30,189980,2001/2004/2024/2056/2183
037440,3827,14.898438,1.120117,288,3.500000,150,037440,2001/2004/2012/2183
238490,5382,17.453125,2.460938,759,1.509766,200,238490,2001/2004/2015/2043/2159/2181

In [46]:
#df.to_csv('./data/full.csv')

In [50]:
transport = df[(df['sector'].str.contains('2075')) | (df['sector'].str.contains('1015'))]

In [51]:
transport['PER'].mean(), transport['PBR'].mean()

(33.12, 1.597)

In [52]:
transport[(transport['PER'] <= 20) & (transport['PER'] > 0) \
    & (transport['PBR'] <= 1)]

,BPS,PER,PBR,EPS,DIV,DPS,ticker,sector
티커,,,,,,,,
123700,10621,9.289062,0.379883,438,3.070312,125,123700,1001/1004/1015/1027/1244
003570,18558,11.992188,0.399902,622,4.019531,300,003570,1001/1004/1015/1027/1244
000430,7743,15.828125,0.529785,258,2.820312,115,000430,1001/1004/1015/1027/1244
015230,12724,6.781250,0.549805,1039,3.130859,220,015230,1001/1004/1015/1027/1244
092780,8059,8.093750,0.759766,753,1.969727,120,092780,1001/1004/1015/1027/1244
018500,1363,3.429688,0.879883,350,0.000000,0,018500,1001/1004/1015/1027/1244
016740,5223,12.937500,0.930176,374,1.650391,80,016740,1001/1004/1015/1027/1244
006660,26712,14.859375,0.330078,593,0.680176,60,006660,1001/1004/1015/1027/1244
023000,5249,13.468750,0.669922,261,3.269531,115,023000,1001/1004/1015/1027/1244
021820,41536,10.640625,0.189941,760,0.310059,25,021820,1001/1004/1015/1027/1244
005850,28224,11.750000,0.819824,1979,1.719727,400,005850,1001/1003/1015/1027/1244
002920,10636,4.511719,0.290039,678,6.550781,200,002920,1001/1004/1015/1027/1244
010100,7092,7.488281,0.389893,373,1.790039,50,010100,1001/1004/1015/1027/1244
012450,48217,16.125000,0.859863,2558,0.000000,0,012450,1001/1003/1015/1027/1028/1159/1167/1182/1224/1...
012330,339207,12.523438,0.890137,24234,1.320312,4000,012330,1001/1002/1015/1027/1028/1034/1035/1158/1182/1...
013520,4046,9.710938,0.899902,376,0.680176,25,013520,1001/1004/1015/1027/1244
090150,4315,18.093750,0.939941,223,2.480469,100,090150,2001/2004/2024/2075/2183
212560,10077,18.390625,0.580078,317,0.859863,50,212560,2001/2004/2024/2075/2181
108380,21740,12.070312,0.740234,1334,1.240234,200,108380,2001/2004/2024/2075/2181
005710,15540,3.390625,0.429932,1950,1.889648,125,005710,2001/2004/2024/2075/2181
015750,13553,13.210938,0.479980,492,1.230469,80,015750,2001/2003/2024/2075/2181
024830,22641,3.990234,0.280029,1572,0.399902,25,024830,2001/2004/2024/2075
013310,5499,9.242188,0.709961,421,0.000000,0,013310,2001/2004/2024/2075/2181
064820,5801,18.796875,0.839844,260,0.000000,0,064820,2001/2004/2024/2075/2182
123410,4293,14.929688,0.720215,206,1.950195,60,123410,2001/2004/2024/2075/2181
043370,27452,7.171875,0.389893,1506,1.669922,180,043370,2001/2004/2024/2075/2181
024740,3698,17.843750,0.520020,107,0.000000,0,024740,2001/2004/2024/2075/2183
126640,2217,17.468750,0.779785,99,1.730469,30,126640,2001/2004/2024/2075/2183