In [12]:
import datetime

from pykrx import stock

In [22]:
today = datetime.date.today()
weekago = today - datetime.timedelta(days=7)
monthago = today - datetime.timedelta(days=30)

In [23]:
today = today.strftime('%Y%m%d')
weekago = weekago.strftime('%Y%m%d')
monthago = monthago.strftime('%Y%m%d')

In [24]:
week_df = stock.get_market_price_change_by_ticker(weekago, today)
month_df = stock.get_market_price_change_by_ticker(monthago, today)

In [27]:
week_df.sort_values('등락률').head(15)

             종목명      시가      종가    변동폭     등락률       거래량          거래대금
티커
012600   센트럴인사이트    7730    3755  -3975 -5142.0  14255437   65923970400
013520   화승코퍼레이션    3650    2175  -1475 -4041.0  38711364   89890602665
004140        동방   11100    7810  -3290 -2964.0  73197444  720499392370
001470      삼부토건    4325    3425   -900 -2081.0  34719974  136256079770
009070      KCTC    9360    7440  -1920 -2051.0  78223867  726215446340
013700     까뮤이앤씨    3360    2680   -680 -2024.0  37067163  113082055270
002410      범양건영    5490    4525   -965 -1758.0   4893883   24029537520
023960  에쓰씨엔지니어링    5710    4740   -970 -1699.0   5073708   25318234260
063160    종근당바이오   73800   61800 -12000 -1626.0    771603   51281658300
185750       종근당  189000  159000 -30000 -1587.0   1223886  204835388500
004770      써니전자    4630    3985   -645 -1393.0  17272493   77291134750
006740      영풍제지    7690    6660  -1030 -1339.0   2795135   19567909260
023800    인지컨트롤스   18000   15650  -2350 -1306.0   1975210   31859895750
006650      대한유화  351500  312000 -39500 -1124.0    500140  161781233500
111770      영원무역   42900   38100  -4800 -1119.0   1086125   42845776150