In [2]:
from pykrx import stock

In [3]:
df = stock.get_market_fundamental_by_ticker("20210312")
df

          BPS        PER       PBR   EPS       DIV   DPS
티커
095570   6802   4.070312  0.589844   982  7.500000   300
006840  62448  13.242188  0.459961  2168  2.609375   750
027410  15699  23.234375  0.419922   281  1.679688   110
282330  36022  19.687500  4.789062  8763  1.570312  2700
138930  25415   3.900391  0.250000  1647  5.609375   360
...       ...        ...       ...   ...       ...   ...
069260  15970  13.218750  1.500000  1812  4.179688  1000
000540  10926   7.570312  0.350098   510  0.000000     0
000547      0   0.000000  0.000000     0  0.000000     0
000545      0   0.000000  0.000000     0  0.000000     0
003280    276   0.000000  0.930176     0  0.000000     0

[898 rows x 6 columns]

In [3]:
stock.get_market_ticker_name('000590')

'CS홀딩스'

In [4]:
#외국인
stock.get_exhaustion_rates_of_foreign_investment_by_ticker('20210311')

            상장주식수      보유수량        지분율       한도수량      한도소진율
티커
000020   27931470    798356   2.859375   27931470   2.859375
000040   96137368  44129426  45.906250   96137368  45.906250
000050   27415270    820902   2.990234   27415270   2.990234
000060  120625000  12729767  10.546875  120625000  10.546875
000070    8564271    651966   7.609375    8564271   7.609375
...           ...       ...        ...        ...        ...
365550  143259000  36326638  25.359375  143259000  25.359375
375500   19358738   3760378  19.421875   19358738  19.421875
37550K    2113885    154577   7.308594    2113885   7.308594
900140   84348589   1782955   2.109375   84348589   2.109375
950210   60096155         0   0.000000   60096155   0.000000

[921 rows x 5 columns]

In [5]:
#인덱스(섹터)
index = stock.get_index_ticker_list()

In [6]:
index

['1001',
 '1002',
 '1003',
 '1004',
 '1005',
 '1006',
 '1007',
 '1008',
 '1009',
 '1010',
 '1011',
 '1012',
 '1013',
 '1014',
 '1015',
 '1016',
 '1017',
 '1018',
 '1019',
 '1020',
 '1021',
 '1022',
 '1024',
 '1025',
 '1026',
 '1027',
 '1028',
 '1034',
 '1035',
 '1150',
 '1151',
 '1152',
 '1153',
 '1154',
 '1155',
 '1156',
 '1157',
 '1158',
 '1159',
 '1160',
 '1167',
 '1182',
 '1224',
 '1227',
 '1232',
 '1244']

In [7]:
name = []
for idx in index:
    name.append(stock.get_index_ticker_name(idx))

In [8]:
name

['코스피',
 '코스피 대형주',
 '코스피 중형주',
 '코스피 소형주',
 '음식료품',
 '섬유의복',
 '종이목재',
 '화학',
 '의약품',
 '비금속광물',
 '철강금속',
 '기계',
 '전기전자',
 '의료정밀',
 '운수장비',
 '유통업',
 '전기가스업',
 '건설업',
 '운수창고업',
 '통신업',
 '금융업',
 '은행',
 '증권',
 '보험',
 '서비스업',
 '제조업',
 '코스피 200',
 '코스피 100',
 '코스피 50',
 '코스피 200 커뮤니케이션서비스',
 '코스피 200 건설',
 '코스피 200 중공업',
 '코스피 200 철강/소재',
 '코스피 200 에너지/화학',
 '코스피 200 정보기술',
 '코스피 200 금융',
 '코스피 200 생활소비재',
 '코스피 200 경기소비재',
 '코스피 200 산업재',
 '코스피 200 헬스케어',
 '코스피 200 중소형주',
 '코스피 200 초대형제외 지수',
 '코스피 200 비중상한 30%',
 '코스피 200 비중상한 25%',
 '코스피 200 비중상한 20%',
 '코스피200제외 코스피지수']

In [9]:
sector = []
for idx, nm in zip(index, name):
    sector.append(idx + nm)

In [10]:
sector

['1001코스피',
 '1002코스피 대형주',
 '1003코스피 중형주',
 '1004코스피 소형주',
 '1005음식료품',
 '1006섬유의복',
 '1007종이목재',
 '1008화학',
 '1009의약품',
 '1010비금속광물',
 '1011철강금속',
 '1012기계',
 '1013전기전자',
 '1014의료정밀',
 '1015운수장비',
 '1016유통업',
 '1017전기가스업',
 '1018건설업',
 '1019운수창고업',
 '1020통신업',
 '1021금융업',
 '1022은행',
 '1024증권',
 '1025보험',
 '1026서비스업',
 '1027제조업',
 '1028코스피 200',
 '1034코스피 100',
 '1035코스피 50',
 '1150코스피 200 커뮤니케이션서비스',
 '1151코스피 200 건설',
 '1152코스피 200 중공업',
 '1153코스피 200 철강/소재',
 '1154코스피 200 에너지/화학',
 '1155코스피 200 정보기술',
 '1156코스피 200 금융',
 '1157코스피 200 생활소비재',
 '1158코스피 200 경기소비재',
 '1159코스피 200 산업재',
 '1160코스피 200 헬스케어',
 '1167코스피 200 중소형주',
 '1182코스피 200 초대형제외 지수',
 '1224코스피 200 비중상한 30%',
 '1227코스피 200 비중상한 25%',
 '1232코스피 200 비중상한 20%',
 '1244코스피200제외 코스피지수']

In [11]:
import time

stocks = []
for idx in index:
    stocks.append(stock.get_index_portfolio_deposit_file(idx))
    time.sleep(3)

In [12]:
dic = {}

for key, value in zip(sector, stocks):
    dic[key] = value

In [13]:
dic['1006섬유의복']

['007700',
 '020000',
 '105630',
 '093050',
 '016450',
 '001460',
 '001070',
 '003200',
 '102280',
 '093240',
 '009270',
 '016090',
 '002070',
 '007980',
 '003610',
 '111110',
 '005800',
 '014990',
 '090370',
 '000950',
 '005820',
 '084870',
 '011300',
 '008500']

In [4]:
df = stock.get_market_fundamental_by_ticker("20210311")

In [10]:
df[df.index == '042660']

          BPS  PER       PBR  EPS  DIV  DPS
티커
042660  35025  0.0  0.720215    0  0.0    0